
  .conteudo{

    padding: 3rem;
    margin:  3rem;
    
  }
 
  .conteudo  h1{
  
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1rem;
    font-size: 3.5rem;
    text-align: left;
    padding-top: 0rem;
   
  }
  .conteudo  p{
  
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5rem;
    font-weight: 200;
    font-size: 1.5rem;
    text-align: left;
    
    
  }
  .conteudo  h2{
  
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 200;
    font-size: 1.3rem;
    
  }



  .projetos{
    margin-top: 15%;
   
  }

  .projetos .card_grid{
    margin-top: 3%;
    display: grid;
    grid-template-columns: 33% 33% 33% ;
    grid-gap: 2rem;

  }
  .projetos .card{
    background-color: #6ae7a2;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0  #17181b;
    box-sizing: border-box;
    border: solid 0px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    
    
  }
  .projetos .card:hover{
    animation: card 2s ease;

  }

  .projetos .card h3{
    
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    color: #17181b;
    font-size: 2rem;
    text-align: center;
    padding-top: 0rem;
    line-height: 0.5rem;
    
  }
  .projetos .card p{
    text-align: center;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 0.5rem;
    color: #17181b;
    font-size: 1rem;
   
    
  }
  .projetos .card .image{
    width: 100%;
    height: 60%;
    image-resolution: initial;
    
    border: solid 0px;
    display: flex;
    object-fit: cover;
    object-position: left;
    
  } 

  .projetos .card a{
    color:#7373ff ; 
    transition: 1s;  
  }

  @keyframes card {
    from {transform: scale(110%) rotate(2deg); }
   
  }

 

 

  @keyframes opacity {
    from {
      opacity: 0;
      
    } 
  }
  
 



 
 

  
