
  .conteudo{

    padding: 3rem;
    margin:  3rem;
    
  }
 
  .conteudo  h1{
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1rem;
    font-size: 3.5rem;
    text-align: left;
    padding-top: 0rem;
   
  }
  .conteudo .title{
    animation: skill 1s ease-in-out alternate infinite;
  
  }
   
  .conteudo  p{
  
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5rem;
    font-weight: 200;
    font-size: 1.5rem;
    text-align: left;
    
    
  }

  .conteudo  h2{
  
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 200;
    font-size: 1.3rem;
    
  }

  @media only screen and (max-width: 800px) {
    
    .conteudo  h1{
      
      font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; 
      font-size: 1.4rem;
      text-align: left;

     
    }
    .conteudo  p{
  
      font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
      line-height: 1rem;
      font-weight: 200;
      font-size: 1rem;
      text-align: left;
      
      
    }
    .conteudo  h2{
     
      font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
      line-height: 1rem;

      font-size: 0.5rem;
      
    }
    .conteudo{

      padding: 1rem;
      margin:  0.5rem;
      
    }
  }

 



  .projetos{
    margin-top: 15%;
   
  }

  .projetos .card_grid{
    margin: 2rem;
    display: grid;
    grid-template-columns: 33% 33% 33% ;
    grid-gap: 2rem;

  }
  
  

  .projetos .card{
    background-color: #6ae7a2;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0  #17181b;
    box-sizing: border-box;
    border: solid 0px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    
    
  }
  .projetos .card:hover{
    animation: card 2s ease;

  }

  .projetos .card h3{
    
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    color: #17181b;
    font-size: 2rem;
    text-align: center;
    padding-top: 0rem;
    line-height: 0.5rem;
    
  }
  .projetos .card p{
    text-align: center;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 0.5rem;
    color: #17181b;
    font-size: 1rem;
   
    
  }
  .projetos .card .image{
    width: 100%;
    height: 60%;
    image-resolution: initial;
    
    border: solid 0px;
    display: flex;
    object-fit: cover;
    object-position: center;
    border-top-left-radius:  10px;
    border-top-right-radius: 10px;
  } 

  .projetos .card a{
    color:#7373ff ; 
    transition: 1s;  
  }

  @media only screen and (max-width: 800px) {
    
    .projetos .card_grid{
      margin-top: 3%;
      display: grid;
      grid-template-columns: 100% ;
      grid-gap: 2rem;
  
    }
    
  .projetos .card h3{
    font-size: 1.5rem;
  }
  .projetos .card p{
   
    color: #17181b;
    font-size: 0.75rem;
   
    
  }
   
  }

  @keyframes card {
    from {transform: scale(102%) }
   
  }

 
  @keyframes skill {
    to {transform: translateY(-5px);}
 
  }
 

  @keyframes opacity {
    from {
      opacity: 0;
      
    } 
  }
  
 



 
 

  
