.navbar{
  
    border-style: solid;
    
    background-color:#6ae7a2;
    text-align: center;
    border-radius: 999px;
    animation: entryUp 3.5s ease ;
  }

  .navbar li {
    display: inline;
    margin:  1rem;
    
  }
  .navbar a {
    display: inline;
    text-decoration: none;
    cursor: pointer;
    
  }
  .navbar span {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 700;
    font-size: 2rem;
    color: #181848;
    transition: 1s;
   
  }

  .navbar span:hover{
    color: #4263a5;
    
    
  }

  @keyframes entryUp {
    from {
      
      transform: translateY(-100px) ;
      opacity: 0;
      
    } 
  }


  @keyframes opacity {
    to {
      opacity: 0;
      
    } 
  }
  
  